* {
	margin: 0;
	padding: 0;

	/*makes the padding adjust*/
	box-sizing: border-box;
}

#box {
	background-color: orange;
	/*border:  width, border style, border color*/
	border: 1px solid black ;
	/*padding - all sides 50 px*/
	padding: 50px;

	/*padding-top: ;
	padding-bottom: ;
	padding-left: ;
	padding-right: ;*/

	height: 150px;
	width: 150px;

	/*w/o box sizing border box
		
		50px left padding + 50px right padding + 150px width = 250px width
		50px top padding + 50px bottom padding + 150px height = 250px height
	*/
	

	/*w/ box sizing border box

	50px left + 50px right = 100px left&right padding
	150px width - 100px left&right = width 50px
	
	50px top + 50px bottom = 100px t&b padding
	150px height - 100px t&b = width 50px
	*/
}