/*CSS RESET*/

*{
	margin: 0;
	padding: 0;
}

h1, p {
	background-color: #dde0e3;
	margin: 15px; /*applied to the top-right-bottom-left of h1 and p*/
	/*margin: 20px 15px;*/ /*top-bottom right-left*/
	/*margin: 20px 5px 0px 10px;*/ /*trbl - top-right-bottom-left*/
	padding: 10px; /*all padding sides are recognized by block level elements*/
	border: 1px solid red;
}

em, strong {
	background-color: indianred;
	/*display: block;*/
	display: inline-block; /*will recognize the top and bottom*/
	padding: 100px;
	/*padding top and bottom, does not recognized in inline element*/
	/*but padding left and right are recognized and took effect in our elements*/
	border: 1px solid black;
	margin: 50px; 
	/*margin top and bottom does not took effect on the inline level elements*/
	/*margin left and right are recognized in inline*/
}

#strong-tag {
	display: inline-block;
}

/*inline-block level element - combined behavior of inline and block elements
		-has the behavior of inline level display and can set the padding top and bottom and 
		the margin top and bottom for its spaces.*/

/*flex box - gives us more complete control over the alignment, direction, order and position of our element (boxes)*/

.flex-container {
	border: 1px solid black;
	padding: 20px;
	background-color: darkgray;
	display: flex;
	/*justify-content property - it aligns the flex items, giving them their direction*/
	/*justify-content: center;*/ 
	/*justify-content: space-between;*/ /*divides bigger spaces between each flex item*/
	justify-content: space-around; /*divides margin left and right equally for flex items*/
	/*justify-content: flex-end;*/
}

.flex-item {
	height: auto; /*automatically it will inherit the height on the given content of the box*/
	width: 250px;
	background-color: coral;
	border: 1px solid maroon;
	/*display: inline-block;*/
}

.flex-item > h2 {
	text-align: center;
}


/*	display:  inline;
	display:  block;
	display:  inline-block; 
	display:  flex */

/*img does not inherit the size of the parent container*/
.flex-item > img {
	/*width: 250px;*/ /*same width w flex-item*/
	width: inherit; /*inherits the width of the parent container*/
}
